body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  
}
header{
  width: 100%;
  height: 60px;
  border: 1px solid rgb(0, 238, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(77, 71, 71);
}
header .containerLogo{
  border: 1px solid rgb(0, 238, 255);
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .containerList{
  border: 1px solid rgb(0, 238, 255);
  width: 70%;
  height: 100%;
}
header .containerList ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .containerList ul li{
  border: 1px solid rgb(0, 238, 255);
  border-radius: 10%;
  background-color: rgba(0, 238, 255, 0);
  font-size: 30px;
  color:rgb(0, 238, 255);
}
header .containerCart{
  border: 1px solid rgb(0, 238, 255);
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .containerCart .containerCantCart{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}
header .containerCart .containerCantCart .cantCart{
  color: rgb(0, 238, 255);
  font-size: 20px;
  margin: 5px;
}